## 修改功能
#macro ( analysisFind )
##替换相关功能名称

	/**
	 * 查询${tableName}
	 * @param ${tableFieldCode}
	 * @return Results
	 */
	public Results findById(Long id){

		${tableClassCode} ${tableFieldCode} = ${tableFieldCode}Dao.findById(id);
		
		Results results = new Results(
				UserCenterContents.API_RETURN_STATUS.NORMAL.value(),
				UserCenterContents.API_RETURN_STATUS.NORMAL.desc(),${tableFieldCode});
		return results; 
	}

#end
