## 导入包
#macro ( analysisImport )
##替换相关功能名称
package ${packagePath}.controller;

import java.util.ArrayList;
import java.util.Date;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import javax.validation.Valid;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springside.modules.web.Servlets;

import com.ariadnethread.cores.framework.mybatis.PageParameter;
import com.ariadnethread.cores.framework.spring.RequestMappingName;
import com.ariadnethread.cores.result.Results;
import com.ariadnethread.cores.tools.jackson.JacksonUtil;
##替换包路径及类名
import ${packagePath}.domain.${tableClassCode};
import ${packagePath}.service.${tableClassCode}Service;
import ${packagePath}.service.UserCenterContents;

#end
