<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace must point Dao interface -->
<mapper namespace="com.lawyer.system.usercenter.dao.mybatis.SysRoleMenuMapper">
	<!-- sys_role_menu query field-->
	<sql id="columns">
      id,
      tenant_id,
      menu_function_id,
      role_id,
      note,
      create_time,
      timestamp
	</sql>
	
	<!-- sys_role_menu result map-->
  <resultMap type="SysRoleMenu" id="SysRoleMenuMap">
		<id column="id" property="id"/>
    	<result column="tenant_id" property="tenantId"/>
    	<result column="menu_function_id" property="menuFunctionId"/>
    	<result column="role_id" property="roleId"/>
    	<result column="note" property="note"/>
    	<result column="create_time" property="createTime"/>
    	<result column="timestamp" property="timestamp"/>
  </resultMap>
  
  <!-- save sys_role_menu -->
  <insert id="save" parameterType="SysRoleMenu" >
		insert into sys_role_menu (
		<include refid="columns"/>)
			values (
				#{id},
				#{tenantId},
				#{menuFunctionId},
				#{roleId},
				#{note},
				#{createTime},
				#{timestamp}
			)
	</insert>
	
	<insert id="saveMore" parameterType="java.util.Map">
		insert into sys_role_menu (
		<include refid="columns" />
		)
		values 
		
		<foreach collection="menulist" item="menu" separator="," >  
        	(#{menu.id},#{menu.tenantId},#{menu.menuFunctionId},#{menu.roleId},#{menu.note},#{menu.createTime},#{menu.timestamp})  
    	</foreach>
	</insert>
	
	<!-- update sys_role_menu -->
	<update id="update" parameterType="SysRoleMenu">
	    UPDATE sys_role_menu 
	    <set>
			<if test="tenantId != null">tenant_id = #{tenantId}, </if>
			<if test="menuFunctionId != null">menu_function_id = #{menuFunctionId}, </if>
			<if test="roleId != null">role_id = #{roleId}, </if>
			<if test="note != null">note = #{note}, </if>
			<if test="createTime != null">create_time = #{createTime}, </if>
			<if test="timestamp != null">timestamp = #{timestamp}, </if>
	    </set>
	    WHERE id = #{id}
  </update>
  
  <!-- 分页查询 -->
	<select id="searchByPage" parameterType="map" resultMap="SysRoleMenuMap">
		SELECT <include refid="columns" /> FROM sys_role_menu
			<where>
				<if test="tenantId != null and tenantId !=''">and tenant_id = #{tenantId} </if>
				<if test="menuFunctionId != null and menuFunctionId !=''">and menu_function_id = #{menuFunctionId} </if>
				<if test="roleId != null and roleId !=''">and role_id = #{roleId} </if>
				<if test="note != null and note !=''">and note = #{note} </if>
				<if test="createTime != null and createTime !=''">and create_time = #{createTime} </if>
				<if test="timestamp != null and timestamp !=''">and timestamp = #{timestamp} </if>
			</where>
	</select>
  
  <!-- query sys_role_menu by primary key -->
  <select id="findById"  resultMap="SysRoleMenuMap" parameterType="Long">
		SELECT <include refid="columns"/>  FROM sys_role_menu where id=#{id}
	</select>
	
	<!-- delete sys_role_menu by primary key -->
  <delete id="deleteById"  parameterType="Long">
		delete FROM sys_role_menu where id=#{id}
  </delete>
  
  <!-- delete sys_role_menu by roleId -->
  <delete id="deleteByRole"  parameterType="Long">
		delete FROM sys_role_menu where role_id=#{roleId}
  </delete>
</mapper> 